.menu {
  height: 200px;
  border-bottom: 2px solid goldenrod;
}

.menu .logo {
  font-family: lato,Arial, Helvetica, sans-serif;
  margin-left: 50px;
}

.menu .logo span {
  color: gold;
}

.presentation {
  position: relative;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.presentation .picture {
  left: -300px;
  background: black;
  position: absolute;
  border-radius: 50%;
  border: 2px solid goldenrod;
  -webkit-animation: move-rigth 2s linear 0s 1;
          animation: move-rigth 2s linear 0s 1;
}

.presentation .picture img {
  width: 80vh;
}

.presentation .text {
  font-family: lato, Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  padding: 30px;
  overflow: hidden;
  border-top: 1px solid rgba(218, 165, 32, 0.5);
  border-left: 1px solid rgba(218, 165, 32, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-box-shadow: 20px 20px 50px rgba(102, 103, 105, 0.5);
          box-shadow: 20px 20px 50px rgba(102, 103, 105, 0.5);
  margin: 20px auto 0;
  width: 60vw;
  margin-left: 400px;
  -webkit-animation: grow 2s linear 0s 1;
          animation: grow 2s linear 0s 1;
}

.container-gallery {
  height: 80vh;
}

.container-gallery .carousel {
  position: relative;
  width: 50%;
  height: 50px;
  margin: 0 auto;
  height: 100%;
}

.container-gallery .carousel .carousel-content {
  position: relative;
  overflow: hidden;
  -webkit-transition: width .4s;
  transition: width .4s;
  height: 100%;
}

.container-gallery .carousel .carousel-content .slide {
  height: 100%;
  background-color: transparent;
  position: absolute;
  z-index: 1;
  -webkit-transition: left 0.4s cubic-bezier(0.47, 0.13, 0.15, 0.89);
  transition: left 0.4s cubic-bezier(0.47, 0.13, 0.15, 0.89);
}

.container-gallery .carousel .carousel-content .slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.container-gallery .carousel .nav {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  background-color: rgba(150, 150, 150, 0.3);
  width: 20px;
  height: 20px;
  z-index: 2;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  outline: none;
  color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.container-gallery .carousel .nav-left {
  left: -25px;
}

.container-gallery .carousel .nav-right {
  right: -25px;
}

.container-gallery .carousel .carousel-arrow-icon-left {
  margin-left: 5px;
  margin-top: 2px;
}

.container-gallery .carousel .carousel-arrow-icon-right {
  margin-left: 7px;
  margin-top: 2px;
}

.container-history {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-history .picture {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-history .picture img {
  width: 250px;
  border-radius: 50%;
  margin: 20px auto 0;
  border-top: 2px solid goldenrod;
  border-right: 2px solid goldenrod;
}

.container-history .text {
  font-family: lato, Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  padding: 30px;
  overflow: hidden;
  border-top: 1px solid rgba(218, 165, 32, 0.5);
  border-left: 1px solid rgba(218, 165, 32, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-box-shadow: 20px 20px 50px rgba(102, 103, 105, 0.5);
          box-shadow: 20px 20px 50px rgba(102, 103, 105, 0.5);
  margin: 20px auto 0;
  width: 70%;
}

.container-history .text p {
  margin: 0 auto;
}

@-webkit-keyframes move-rigth {
  from {
    left: -1000px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    left: -300px;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes move-rigth {
  from {
    left: -1000px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    left: -300px;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes grow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes grow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  background: url("http://thecodeplayer.com/u/m/b1.png") no-repeat center center fixed;
  background-size: cover;
  min-width: 500px;
  min-height: 200px;
  color: #fff;
  font-family: 'Montserrat';
  height: 100vh;
}

.bars {
  /*   background-color:pink; */
  position: absolute;
  width: 27px;
  height: 27px;
  top: 30px;
  right: 30px;
  cursor: pointer;
  z-index: 101;
  padding-top: 9px;
}

.bar {
  width: 100%;
  height: 4px;
  background-color: #fff;
  position: absolute;
}

.bars span::before,
.bars span::after {
  content: "";
  display: block;
  background-color: #fff;
  width: 100%;
  height: 4px;
  position: absolute;
}

.bar::before {
  -webkit-transform: translateY(-9px);
          transform: translateY(-9px);
}

.bar::after {
  -webkit-transform: translateY(9px);
          transform: translateY(9px);
}

.bars.active .bar {
  background-color: transparent;
}

.bars.active span::before {
  -webkit-animation: top-bar 1s;
          animation: top-bar 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.bars.active span::after {
  -webkit-animation: bottom-bar 1s;
          animation: bottom-bar 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

/* Navbar Links CSS */
#nav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
  z-index: -1;
  overflow: hidden;
  opacity: 0;
}

#nav a {
  color: black;
  font-size: 2em;
  font-family: lato, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 70vw;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-indent: 50vw;
  border-radius: 50%;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#nav a:hover {
  background: goldenrod;
}

ul {
  list-style: none;
}

.visible {
  z-index: 100 !important;
  opacity: 1 !important;
}

.shape-circle {
  border-radius: 50%;
  width: 20vw;
  height: 20vw;
  top: -10vw;
  right: -10vw;
  position: absolute;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  background: #a7801f;
  -webkit-box-shadow: 0 0px 0px rgba(4, 26, 62, 0.5);
          box-shadow: 0 0px 0px rgba(4, 26, 62, 0.5);
}

nav.visible li:first-child {
  width: 200vw;
  height: 200vw;
  top: -100vw;
  right: -100vw;
  z-index: 5;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-box-shadow: 0 0px 80px rgba(4, 26, 62, 0.5);
          box-shadow: 0 0px 80px rgba(4, 26, 62, 0.5);
}

nav.visible li:nth-child(2) {
  width: 150vw;
  height: 150vw;
  top: -75vw;
  right: -75vw;
  z-index: 6;
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
  -webkit-box-shadow: 0 0px 80px rgba(4, 26, 62, 0.5);
          box-shadow: 0 0px 80px rgba(4, 26, 62, 0.5);
}

nav.visible li:nth-child(3) {
  width: 100vw;
  height: 100vw;
  top: -50vw;
  right: -50vw;
  z-index: 7;
  -webkit-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
  -webkit-box-shadow: 0 0px 80px rgba(4, 26, 62, 0.5);
          box-shadow: 0 0px 80px rgba(4, 26, 62, 0.5);
}

nav.visible li:last-child {
  width: 50vw;
  height: 50vw;
  top: -25vw;
  right: -25vw;
  z-index: 8;
  -webkit-transition: all .8s ease-in-out;
  transition: all .8s ease-in-out;
  -webkit-box-shadow: 0 0px 80px rgba(4, 26, 62, 0.5);
          box-shadow: 0 0px 80px rgba(4, 26, 62, 0.5);
}

nav.visible li:first-child a {
  line-height: 265vw !important;
  text-indent: 15vw !important;
}

nav.visible li:nth-child(2) a {
  line-height: 200vw !important;
  text-indent: 17vw !important;
}

nav.visible li:nth-child(3) a {
  line-height: 137vw !important;
  text-indent: 17vw !important;
}

nav.visible li:last-child a {
  line-height: 70vw !important;
  text-indent: 12vw !important;
}

/* Main Body CSS */
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

h1 {
  font-size: 60px;
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  text-transform: uppercase;
  font-size: 120px;
  letter-spacing: 5px;
  padding-top: 40px;
}

article p {
  padding-bottom: 15px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

article a {
  color: #fff;
  text-decoration: none;
  opacity: .2;
  font-size: 12px;
}

article a:hover {
  opacity: .8;
}

@-webkit-keyframes top-bar {
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: rotate(45deg) translateY(0);
            transform: rotate(45deg) translateY(0);
  }
}

@keyframes top-bar {
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: rotate(45deg) translateY(0);
            transform: rotate(45deg) translateY(0);
  }
}

@-webkit-keyframes bottom-bar {
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: rotate(-45deg) translateY(0);
            transform: rotate(-45deg) translateY(0);
  }
}

@keyframes bottom-bar {
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: rotate(-45deg) translateY(0);
            transform: rotate(-45deg) translateY(0);
  }
}

@media screen and (max-width: 800px) {
  h1 {
    padding-top: 80px;
    font-size: 60px;
  }
}
/*# sourceMappingURL=styles.css.map */