// index ===========================================
.menu{
    height: 200px;
    border-bottom: 2px solid goldenrod;
  .logo{
    font-family: lato,Arial, Helvetica, sans-serif;
    margin-left: 50px;
    span{
        color: gold;
    }
}  
}
.presentation{
    position: relative;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    .picture{
        left: -300px;
        background: black;
        position: absolute;
        border-radius: 0 50% 50% 0;
        border: 2px solid goldenrod;
        img{
            width: 80vh;
        }
    }
    .text{
        font-family: lato, Arial, Helvetica, sans-serif;
        font-size: 1.2em;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 15px;
        padding: 30px;
        overflow: hidden;
        border-top: 1px solid rgba(goldenrod, 0.5);
        border-left: 1px solid rgba(goldenrod, 0.5);
        backdrop-filter: blur(5px);
        box-shadow: 20px 20px 50px rgba(102, 103, 105, 0.5);
        margin: 20px auto 0;
        width: 60vw;
        margin-left: 400px;
    }
}


// gallery ==========================================================
div#carousel { 
    perspective: 1200px; 
    background: transparent;
    margin-top: 100px;
    align-items: center; 
    font-size:0; 
    margin-bottom: 3rem; 
    overflow: hidden; 
    img{
        width: 500px;
        height: 500px;
        object-fit: cover;
    }
  }

  figure#spinner { 
    transform-style: preserve-3d; 
    height: 55vh; 
    transform-origin: 50% 50% -500px; 
    transition: 1s; 
  } 
  figure#spinner img { 
    width: 40%; max-width: 425px; 
    position: absolute; left: 30%;
    transform-origin: 50% 50% -500px;
    outline:1px solid transparent; 
  }
  figure#spinner img:nth-child(1) { transform:rotateY(0deg); 
  }
  figure#spinner img:nth-child(2) { transform: rotateY(-45deg); }
  figure#spinner img:nth-child(3) { transform: rotateY(-90deg); }
  figure#spinner img:nth-child(4) { transform: rotateY(-135deg); }
  figure#spinner img:nth-child(5){ transform: rotateY(-180deg); }
  figure#spinner img:nth-child(6){ transform: rotateY(-225deg); }
  figure#spinner img:nth-child(7){ transform: rotateY(-270deg); }
  figure#spinner img:nth-child(8){ transform: rotateY(-315deg); }
  div#carousel ~ span { 
    color: #fff; 
    margin: 5%; 
    display: inline-block; 
    text-decoration: none; 
    font-size: 2rem; 
    transition: 0.6s color; 
    position: relative; 
    margin-top: -6rem; 
    border-bottom: none; 
    line-height: 0; }
  div#carousel ~ span:hover { color: goldenrod; cursor: pointer; }
